@{
    ViewBag.Title = "Calendar";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>@ViewBag.Title</h2>
            <span class="">Legend:</span>
            <span class="p-1 rounded" style="background-color: indianred;">Red = Public Event</span>
            <span class="p-1 rounded" style="background-color: lightblue;">Blue = Private Event (Invite only)</span>
            <span class="p-1 rounded" style="background-color: lightgreen;">Green = Secret Event (Invite only)</span>
        </div>
        <div class="col-md-12">
            <div id="calendar"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="informationModal" tabindex="-1" role="dialog" aria-labelledby="informationModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Title: <span id="meeting-modal-title"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Description: <span id="meeting-modal-description"></span><br />
                Location: <span id="meeting-modal-location"></span><br />
                Start Time: <span id="meeting-modal-start"></span><br />
                End Time: <span id="meeting-modal-end"></span><br />
            </div>
        </div>
    </div>
</div>

@Styles.Render("~/Content/fullcalendar.css")

@section Scripts{
    <script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js"></script>
    <script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>
    <script src="http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js"></script>
    <script src="~/Scripts/custom/calendar.js"></script>
}