@{
    ViewBag.Title = "Banned";
}

<h1 class="text-danger">Your Account is Suspended!</h1><br />
<h3 class="text-danger">
    Your account has been suspended by one of our admins. This is likely due to a violation of our community rules. Did you post furry porn on the formal forum again?...
    <br /><br />
    If you have any questions, please contact our admin staff.
</h3>