@using ORUComSys.Models
@model PostViewModels

<h2>@ViewBag.Title</h2>

<div id="postSection">
    @Html.Partial("_ForumPosts", Model)
</div>

@section Scripts{
    <script src="~/Scripts/custom/forum-posts.js"></script>
    <script src="~/Scripts/custom/forum-comments.js"></script>
}