<div class="row">
    <div class="col-md-12">
        <center><h1>Index</h1></center>
    </div>
    <div class="col-md-6">
        <a href="@Url.Action("Formal", "Forum")" class="btn btn-secondary forumSelectorButton">
            Formal Forum
        </a>
    </div>
    <div class="col-md-6">
        <a href="@Url.Action("Informal", "Forum")" class="btn btn-secondary forumSelectorButton">
            Informal Forum
        </a>
    </div>
</div>