@using ORUComSys.Models
@model PostViewModels
@{
    ViewBag.Title = "Formal";
}

<h2>Informal</h2>
<div id="postSection">
    @Html.Partial("_ForumPosts", Model)
</div>

@section Scripts{
    <script src="~/Scripts/custom/forum-posts.js"></script>
}

